<a href="https://colab.research.google.com/github/MadhukumarV/CODE-FOR-A-DAY/blob/main/CFD13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Updating the details

l = ["Ram","Sham","Bam"]
m = [500,600,700]

for i,j in zip(l,m):
  print(f"{i} = {j}")

Ram = 500
Sham = 600
Bam = 700

In [7]:
LC = [f"{i} = {j}" for i,j in zip(l,m)]
print(LC)

['Ram = 500', 'Sham = 600', 'Bam = 700']

In [22]:
# you are given a list of intigers.you  are asked to make a list by running through the element of the list by adding all element greater and itself

l = [2,4,6,10,1]

result = []

for i in l:
  sum = 0
  for j in l:
    if i<=j :
      sum = sum + j # This line should also be indented
    result.append(sum) # This line should also be indented


print(result)

[2, 6, 12, 22, 22, 0, 4, 10, 20, 20, 0, 0, 6, 16, 16, 0, 0, 0, 10, 10, 2, 6, 12, 22, 23]

In [34]:
# find the list of common unique item from two list .and show in increasing order

l = [2,99,956,48,5,82,62,48]
m = [48,388,26,352,77,49,55,99]

common = []
for  i in l:
  if  i in m:
    if i not in common :
      common.append(i)

print(common)

[99, 48]